NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_PATCH_VERSION=16.11.1
NEXT_PUBLIC_DDRAGON_VERSION=16.11.1
NEXT_PUBLIC_PATCH_STATUS_LABEL="Current Mock Meta"
NEXT_PUBLIC_PATCH_DATA_SOURCE_LABEL="Data Dragon-ready dataset"

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
